footer.footer            <!-- Add a class "footer" to the tag "footer"  -->            
    .footer_icon                    <!-- Add a class "footer_icon  , skpi div in front of .footer_icon -->    
        i.fab.fa-youtube-square
    span.footer_text WeTube #{new Date().getFullYear()} &copy;         <!-- this allows you to use js in pug  -->