header.header
    .header_column
        i.fab.fa-youtube
    .header_column
        ul                           <!-- if not Logined : join and login should be shown in the header-->
            li                       <!-- if Logined : logout, upload video, profile should be shown in the header-->
                a(href="#") Join   
            li
                a(href="#") Login