// The file that underlies every page
// for example, everypage nedds header, footer, HTML head tag, css link
doctype html
html
    head
        title Wetube
    body
        header
            h1  WeTube
        main             <!-- The contents of all other pages are in the main tag. -->
            block content
        footer
            span &copy; WeTube